.fl-module-bbmustache-menu{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.bbm-toggle-wrapper div.bbm-menu-toggle{
  background: transparent;
  padding: 0;
  margin: 0;
  color: #000;
  cursor: pointer;
}
.bbm-menu-toggle-left-inline,
.bbm-menu-toggle-right-inline{
  display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
  -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.bbm-menu-toggle-right-inline {
  -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
     -ms-flex-direction: row-reverse;
         flex-direction: row-reverse;
}
.bbm-toggle-text{
  color: #000;
}
ul.bbm-menu{
  padding: 0;
  list-style: none;
}
ul.bbm-menu > li > a,
ul.bbm-menu > li > a:hover,
ul.bbm-menu > li > a:focus,
ul.bbm-menu > li > a:visited{
  text-decoration: none;
}
.bbm-toggle-line-wrapper{
  position: relative;
  height: 15px;
  width: 40px;
}
.bbm-toggle-line{
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  display: block;
}
.bbm-toggle-line:last-child,
.bbm-toggle-line:first-child,
.bbm-toggle-line:nth-child(2),
.bbm-toggle-line:nth-child(3){
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bbm-toggle-line:nth-child(2),
.bbm-toggle-line:nth-child(3){
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transform-origin: 50%;
          -ms-transform-origin: 50%;
              transform-origin: 50%;
}
.bbm-toggle-line:first-child,
.bbm-toggle-line:last-child{
  -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    opacity: 1;
}
.bbm-toggle-line:first-child{
  top: 0;
}
.bbm-toggle-line:last-child{
  bottom: 0;
}
.bbm-menu-toggle.open .bbm-toggle-line:first-child,
.bbm-menu-toggle.open .bbm-toggle-line:last-child{
  opacity: 0;
}
.bbm-menu-toggle.open .bbm-toggle-line:nth-child(2){
  -webkit-transform: translate(-50%,-50%) rotate( 45deg );
    -ms-transform: translate(-50%,-50%) rotate( 45deg );
        transform: translate(-50%,-50%) rotate( 45deg );
}
.bbm-menu-toggle.open .bbm-toggle-line:nth-child(3){
  -webkit-transform: translate(-50%,-50%) rotate( -45deg );
    -ms-transform: translate(-50%,-50%) rotate( -45deg );
        transform: translate(-50%,-50%) rotate( -45deg );
}
.bbm-menu-wrapper{
  position: fixed;
  top: 0;
  height: 100vh;
  -webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s;
  padding-top: 120px;
  z-index: 99;
}
.bbm-menu-wrapper.bbm-menu-left,
.bbm-menu-wrapper.bbm-menu-left:before{
  left: 0;
}
.bbm-menu-wrapper.bbm-menu-left{
  -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
        transform: translateX(-300px);
  text-align: left;
}
.bbm-menu-wrapper.bbm-menu-right,
.bbm-menu-wrapper.bbm-menu-right:before{
  right: 0;
}
.bbm-menu-wrapper.bbm-menu-right{
  -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
        transform: translateX(300px);
  text-align: right;
}
.bbm-menu-logo,
.bbm-menu{
  position: relative;
}
.bbm-menu-wrapper:before{
  position: absolute;
  height: 100%;
  top: 0;
  width: 300px;
  z-index: 0;
  display: block;
  content: "";
  background: rgba(0,0,0,0.5);
  -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
        transform-origin: 0px 0px;
}
.bbm-menu-wrapper.bbm-menu-left:before{
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);

}
.bbm-menu-wrapper.bbm-menu-right:before{
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);

}
.bbm-menu-wrapper.open.bbm-menu-left,
.bbm-menu-wrapper.open.bbm-menu-right{
  -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
        transform: translateX(0);
}
.bbm-menu-wrapper.open.bbm-menu-left{
  -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
        transform: translateX(0);
}
